* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/*html {
	background: url(../images/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
.bolder{
	font-weight:bolder;
}

#container {
	min-height: 96%;
	margin: 0 auto -120px;
	width: 100%;
	background: #162d3d;
-webkit-box-shadow: inset 6px 17px 18px 6px rgba(0, 0, 0, 0.4);
        
        box-shadow: inset 6px 17px 18px 6px rgba(0, 0, 0, 0.4);
}
#rightcontainer{
	position: absolute;
	height: 84%;
	width: 50%;
	margin:0px auto 0px auto;
	right: 0%;
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-family: "Helvetica Neue",Arial,sans-serif;
	-webkit-box-shadow: inset -17px -17px 16px 6px rgba(0, 0, 0, 0.4);
        
        box-shadow: inset -17px -17px 16px 6px rgba(0, 0, 0, 0.4);
}

#rightcontainer img {
	width: 150px;
	margin-top: 40px;
	border-radius: 12px;
}

#rightcontainer #tweets {
	width: 40%;
	font-size: 14px;
	text-align: left;
	margin: 0 auto;
	background: #023;
	border-radius: 12px;
}

#rightcontainer #tweets h2 {
	margin-left: 20px;
	margin-top: 5px;
}

#rightcontainer #tweets section {
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: gray 1px solid;
}

#rightcontainer #tweets section:hover {
	background: #024;
}


#rightcontainer #tweets img {
 	margin: 0;
 	margin-left: 20px;
 	width: 48px;
 	height: 48px;
}

#rightcontainer #tweets p {
	display: inline-block;
	width: 75%;
}

#rightcontainer #tweets span {
	font-size: 12px;
	color: #999;
}


#leftcontainer{
	position: absolute;
	height: 84%;
	left:0%;
	margin:0px auto 0px auto;
	width: 50%;
	overflow:auto;
	font-family: "Helvetica Neue",Arial,sans-serif;
	-webkit-box-shadow: inset 17px -17px 16px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 17px -17px 16px 6px rgba(0, 0, 0, 0.4);
    color: #fff;
}

#leftcontainer .profile {
	display: inline-block;
	width: 33%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#leftcontainer .profile img {
	width: 73px;
	border-radius: 12px;
}

header {
	position: relative;
	height: 40px;
	color: #2daae2;
	background: #162d3d;
	width: 100%;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0px;
	background: #162d3d;
	color: #2daae2;
	width: 100%;
	height: 120px;
	text-align: center;
}


footer section {
	margin-top: 15px;
}

#searchcontainer {
	position: absolute;
	left:30px;
	width:400px;
	text-align:left;
	margin:10px auto 0px auto;
}
#overlay {
	position:absolute;
	left:44%;
	top:44%;
}